#menu {
	border-bottom: 1px dotted #d5d5d5;
	padding-bottom: 15px;
}
#menu ul { margin: 0px; padding: 0px; }
#menu ul li { display: inline; }
#menu ul.pages { float: left; }
#menu ul.pages li { margin-right: 5px; }
#menu ul.links { float: right; }
#menu ul.links li { margin-left: 5px; }

